{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <sensor class="sensor-item">
        <div class="data">
            <ul>
                {% for sensor in sensores %}
                    <li>
                        <h2>{{sensor.title}} {{sensor.value}}</h2>
                        <p>
                            <a href="{% url 'borrar' sensor.id %}" class="btn btn-delete">Eliminar</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </sensor>
{% endblock %}