<!-- visualization/graphs.html -->
{% extends 'layouts/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <sensor class="sensor-item">
        <div class="data">
            {% for image_data in images %}
                <div class="graph-item">
                    <img src="data:image/png;base64,{{ image_data }}" alt="Gráfico de sensores" width=600x600/>
                </div>
            {% endfor %}
        </div>
    </sensor>
{% endblock %}
